@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResource> localizer

<footer class="text-white about-footer">
    <div class="container-fluid">
        <section class="footer-1">
            <div class="row align-items-center text-center">
                <!-- Logo Alanı (Ortalanmış) -->
                <div class="col-lg-6 col-md-6 mb-4 mb-md-0 p-4">
                    <div class="footer-logo d-flex justify-content-center align-items-center">
                        <!-- Mevcut Logo -->
                        <img src="https://res.cloudinary.com/dbhogeepn/image/upload/v1738687955/logo-moonL%C4%B1fe_x0pksr.jpg"
                             alt="My Golden Food - Dondurulmuş Gıda ve Tatlı Çeşitleri"
                             class="footer-img img-fluid rounded mx-3"
                             loading="lazy"> <!-- Lazy Loading -->
                        <!-- Yeni Eklenen Logo -->
                        <img src="https://res.cloudinary.com/dbhogeepn/image/upload/v1740578920/Minimalist_Modern_Arka_Plan__Siyah_000000__Yaz%C4%B1__Mor_a020f0__Font__Montserrat_Bold__%C4%B0%C3%A7erik__%C3%9Cst_Sat%C4%B1r___Contact_Us__b%C3%BCy%C3%BCk_harf_ortalanm%C4%B1%C5%9F__Alt_Sat%C4%B1r____90_533_635_2458__k%C3%BC%C3%A7%C3%BCk_harf_ortalanm%C4%B1%C5%9F__Ekstra__Hafif_aohog8.jpg"
                             alt="Eklenen Logo"
                             class="footer-img img-fluid rounded mx-3"
                             loading="lazy"> <!-- Lazy Loading -->
                    </div>
                </div>

                <!-- Adres ve Sosyal Medya Alanı -->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0 p-4">
                    <h5 class="text-uppercase">@localizer["Footer_Adres"]</h5>
                    <p>MY GOLDEN FOOD GIDA SAN.TİC A.Ş. Türkiye/Ankara</p>

                    <div class="mb-4">
                        <a class="btn btn-dark btn-floating m-1" href="https://www.facebook.com/mygoldenfood" target="_blank" role="button" rel="noopener noreferrer">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="btn btn-dark btn-floating m-1" href="https://twitter.com/mygoldenfood" target="_blank" role="button" rel="noopener noreferrer">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="btn btn-dark btn-floating m-1" href="https://www.linkedin.com/company/mygoldenfood" target="_blank" role="button" rel="noopener noreferrer">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a class="btn btn-dark btn-floating m-1" href="https://www.instagram.com/mygoldenfood" target="_blank" role="button" rel="noopener noreferrer">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>

                <!-- İletişim Bilgileri -->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-5 p-4">
                    <h5 class="text-uppercase">@localizer["Iletisim_İletişim"]</h5>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#" class="text-white">Gökhan GÖKDEMİR</a>
                        </li>
                        <li>
                            <a href="tel:+90 533 635 24 58" class="text-white">T: +90 533 635 24 58</a>
                        </li>
                        <li>
                            <a href="mailto:gokhangokdemir@mygoldenfood.com" class="text-white">gokhangokdemir@mygoldenfood.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>

    <!-- Copyright Alanı -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2025 Copyright
        <a class="text-white" href="https://mygoldenfood.com">My Golden Food</a>
    </div>
</footer>



<!-- SEO İçin Yapısal Veri -->
<script type="application/ld+json">
    {
      "@@context": "https://schema.org",
      "@@type": "LocalBusiness",
      "name": "My Golden Food",
      "url": "https://mygoldenfood.com/",
      "logo": "https://res.cloudinary.com/dbhogeepn/image/upload/v1738687955/logo-moonL%C4%B1fe_x0pksr.jpg",
      "description": "Dondurulmuş gıda, meyve ve tatlı çeşitleriyle en taze lezzetleri keşfedin. Sağlıklı ve doğal ürünler My Golden Food'da!",
      "address": {
        "@@type": "PostalAddress",
        "streetAddress": "MY GOLDEN FOOD GIDA SAN.TİC A.Ş.",
        "addressLocality": "Ankara",
        "addressCountry": "TR"
      },
      "contactPoint": {
        "@@type": "ContactPoint",
        "telephone": "+90 533 635 24 58",
        "contactType": "customer service"
      },
      "sameAs": [
        "https://www.facebook.com/mygoldenfood",
        "https://www.instagram.com/mygoldenfood",
        "https://twitter.com/mygoldenfood",
        "https://www.linkedin.com/company/mygoldenfood"
      ]
    }
</script>
