@{
    ViewData["Title"] = "Tarifler ve Faydaları";
    Layout = "_Layout";
}

<div class="container text-center mt-5">
    <h1 class="mb-5 text-white">Tarifler ve Faydaları</h1>
    <div class="row">
        <div class="col-md-6">
            <a href="/Tarifler/Index">
                <img src="https://placehold.co/400x400" alt="Tarifler" class="img-fluid" />
                <h3 class="mt-3 text-white">Tarifler</h3>
            </a>
        </div>
        <div class="col-md-6">
            <a href="/Faydalari/Index">
                <img src="https://placehold.co/400x400" alt="Faydaları" class="img-fluid" />
                <h3 class="mt-3 text-white">Faydaları</h3>
            </a>
        </div>
    </div>
</div>

<style>
    body {
        background-color: black;
    }

    h1 {
        font-size: 2.5rem;
    }

    img {
        max-width: 250px;
        transition: transform 0.3s;
    }

        img:hover {
            transform: scale(1.1);
        }
</style>
